@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;600&display=swap%27');

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffe7bd #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d0ba9580;
    border-radius: 13px;
    border: 2px solid #ffffff;
  }

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

* {
    font-family: 'Prompt', sans-serif;
    text-decoration: none;
}

.top-box {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
    height: 300px;
}

.navbar {
    background-color: #ffffffe2;
    backdrop-filter: blur(5px);
    z-index: 9999;
    box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028),
    0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042),
    0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07)
;
  
}



li .nav-menu {
    margin: 0 20px;
    text-decoration: none;
}

.nav-menu {
    display: block;
    text-decoration: none;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    color: #2F200A;
    transition: .3s;
    font-weight: 600;
    padding: 10px 15px;
    
}

.nav-menu:hover {
    text-decoration: none;
    color: rgb(255, 111, 28);
    border-radius: 50px;

    transform: translate(0, -5px);
    
}

.nav-menu-active {
    display: block;
    text-decoration: none;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    color: #ffffff;
    background-color: #2F200A;
    transition: .3s;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 50px;
}

.nav-menu-active:hover {
    color: rgb(255, 111, 28);

    transform: translate(0, -5px);
    text-decoration: none;
    background-color: rgb(250, 246, 242);
}



.bg-pan-left {
    background-color: #ffffff;
	-webkit-animation: bg-pan-left 8s both;
	        animation: bg-pan-left 8s both;
}

nav {
    background-color: #ffffff;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.header-blog {
    padding-top: 10%;
    margin-bottom: 6%;
    text-align: center;
} 


.header-blog p {
    font-size: 30px;
}

.header-blog h1 {
    font-size: 50px;
    font-weight: 600;
}

@media (max-width:750px) {
    .header-blog {
        margin-top: 100px;
        
    }
}

@media (max-width:650px) {
    .header-blog p {
        font-size: 15px;
    }
    .header-blog h1 {
        font-size: 30px;
    }
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 215px);
    grid-gap: 20px;
    
}



.blog-grid-item {
    color: #2F200A;
    background-color: #2f200a00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none   ;
    transition: 0.3s;
}

.blog-grid-item-active {
    color: #2F200A;
    background-color: #2f200a00;
    border: 5px solid #2f200a86;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none   ;
    transition: .5s;
    
}

.blog-grid-item-active:hover {
    border: 5px solid #684107;
    box-shadow:
    2.3px 5.5px 15.5px #2f200a4b,
    7.8px 18.3px 64.7px #2f200a4b,
    35px 82px 151px #2f200a4b;
}

@media (max-width:772px) {
    .blog-grid-item-active {
        height: 540px;  
    }   
}

.blog-grid-item:hover {
    color: white;
    background-color: #2F200A;
    transition: 0.3s;
    box-shadow:
    2.3px 5.5px 15.5px #2f200a4b,
    7.8px 18.3px 64.7px #2f200a4b,
    35px 82px 151px #2f200a4b;
    
}

.allin-blog {
    width: 100%; 
    margin-left: 20px; 
    padding: 10px;
}


.blog-grid-tag {
    display: flex;
    margin-top: 10px;
}

.blog-grid-tag p {
    margin-right: 5px;
}

.tag {
    padding: 5px 14px;
    font-size: 12px;
    border-radius: 50px;
    color: white;
    background-color: #463a28;
} 

.blog-grid a:first-child {
    grid-row: 1 / span 3;
}

.blog-grid-item-title {
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap; 
    width: 600px; 
    overflow: hidden;
    text-overflow: ellipsis;
}


.blog-grid-item-title-sm {
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
    width: 400px; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

@media (max-width:1405px) {
    .blog-grid-item-title-sm {
        width: 320px;
    }
}

@media (max-width:780px) {
    .blog-grid-item-title {
        width: 450px;
    }
    
}

@media (max-width:555px) {
    .blog-grid-item-title-sm {
        width: 240px;
    }
}

@media (max-width:522px) {
    .blog-grid-item-title {
        width: 300px;
    }
}

@media (max-width:498px) {
    .blog-grid-item-title-sm {
        width: 200px;
    }
}


.blog-grid-item-Detail-sm {
    height: 45px;
    overflow: hidden;
}

.line-gr {
    display: none;
    border: 1px solid #2F200A;
}

.img-item-blog {
    width: 200px; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
}

.img-item-blog-lg {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 10px;
}

@media (max-width: 1150px ) {
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, 200px);
        grid-gap: 20px;
        
    }
    .line-gr {
        display: inline-block;
    }

    .blog-grid-item-Detail {
        height: 45px;
        overflow: hidden;
    }
    
}

.section-body {
    height: auto;
    background: linear-gradient(150deg, #f0e5d7, #d69744);
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px 15%;
    transition: .3s;
 
}

.item-section {

    display: grid;
    justify-content: center;
    align-items: center;
}

.txt-lg {
    color: #2F200A;
    font-size: 50px;
    font-weight: 600;
    transition: .3s ;
}

.txt-sm {
    color: #2F200A;
    font-size: 30px;
    transition: .3s ;

}

.img-sec-body {
    height: 350px;
    transition: .3s ;

}

@media (max-width:1310px) {
    .txt-lg {
        color: #2F200A;
        font-size: 40px;
        font-weight: 600;
    }
    
    .txt-sm {
        color: #2F200A;
        font-size: 30px;
    }
    
    .img-sec-body {
        height: 320px;
    }
}

@media (max-width:1110px) {
    .section-body {
       
        padding: 0 10%;
     
    }
    .item-section {
        text-align: center;
        padding-bottom: 40px;
    }
}

@media (max-width:910px) {


    .section-body {
        grid-template-columns: auto;
        padding: 0 10%;
     
    }
}
@media (max-width:585px) {
    .txt-lg {
        color: #2F200A;
        font-size: 30px;
        font-weight: 600;
    }
    
    .txt-sm {
        color: #2F200A;
        font-size: 20px;
    }
}

@media (max-width:435px) {
    .img-sec-body {
        height: 250px;
    }
        
}






/* ALL POST */

.header-all-post {
    width: 100%;
    display: flex;
    align-items: center;
    height: 120px;
    background-color: white;
}

.container-our-blog {
    height: 120px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; background-color: white; 
    padding: 0 15%; 
    box-shadow:
      0px 1px 1.3px rgba(0, 0, 0, 0.02),
      0px 2.3px 3.2px rgba(0, 0, 0, 0.03),
      0px 4.4px 6px rgba(0, 0, 0, 0.037),
      0px 7.8px 10.7px rgba(0, 0, 0, 0.044),
      0px 14.6px 20.1px rgba(0, 0, 0, 0.052),
      0px 35px 48px rgba(0, 0, 0, 0.07)
      ;
}

@media (max-width: 668px) {
    .container-our-blog {
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0; 
    }

    .container-our-blog h2 {
        margin: 0;
    }
}

.btn-diy {
    padding: 5px 15px;
    color: #2F200A;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #2F200A;
    transition: .3s;
    text-decoration: none;
}

.btn-diy:hover {
    color: white;

    
    background-color: #2F200A;
    
}

.btn-diy-2 {
    padding: 5px 15px;
    color: #ffffff;
    background-color: #2F200A;
    border-radius: 20px;
    border: 2px solid #2F200A;
    transition: .3s;
    text-decoration: none;
}

.btn-diy-2:hover {
    color: #2F200A;
    background-color: #fff6e9;
    
}



.container-all-blog {
    display: grid;
    margin: 5% 15%;
    grid-template-columns: repeat(2,1fr);
    gap: 20px   ;
    transition: .3s;
}

@media  (max-width:1559px) {
    .container-all-blog {
        margin: 5% 10%;
        grid-template-columns: repeat(2,1fr);
        gap: 20px   ;
    }
}

@media  (max-width:1359px) {
    .container-all-blog {
        margin: 5% 5%;
        grid-template-columns: repeat(2,1fr);
        gap: 20px   ;
    }

    .tag {
        padding: 3px 10px;
        font-size: 10px;
        border-radius: 50px;
        color: white;
        background-color: #463a28;
    } 


}

@media  (max-width:1359px) {
    .container-all-blog {
        margin: 5% 5%;
        grid-template-columns: repeat(1,1fr);
        gap: 20px   ;
    }
}


@media (max-width: 940px) {
    .img-item-blog-lg {
        width: 100%; 
        height: 300px; 
        object-fit: cover; 
        border-radius: 10px;
    }
}

@media (max-width: 769px ) {
    .img-item-blog {
        width: 150px; 
        height: 100%; 
        object-fit: cover;
        border-radius: 10px;
    }
    
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, 150px);
        grid-gap: 20px;
        
    }

    .blog-grid-item-Detail-sm {
        height: 20px;
        overflow: hidden;
    }

}



@media (max-width: 535px) {
    .blog-grid-item-title {
        font-size: 30px;
        font-weight: 600;
    }
    
    
    .blog-grid-item-title-sm {
        font-size: 17px;
        font-weight: 600;
    }

    .blog-grid-item-Detail-sm {
        font-size: 12px;
        height: 20px;
        overflow: hidden;
    }
}

@media (max-width:467px) {
    .img-item-blog {
        width: 120px; 
        height: 120px; 
        object-fit: cover;
        border-radius: 10px;
    }

    .blog-grid-item-title {
        font-size: 20px;
    }

    .blog-grid-item-title-sm {
        margin: 0;
    }
    .blog-grid-item-Detail-sm {
        margin: 0;
    }
}

footer {
    background: linear-gradient(245deg, #e2c29b, #d19a4d);
}

.filter-sec {
    padding-top: 40px;
    display: flex;
}

.filter-sec .button-99 {
    margin-right: 10px;
}

.button-99 {
    border: 2px solid #2F200A;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: #2F200A;
    text-decoration: none;
    transition: .3s;
}

.button-99:hover {
    background-color: #2F200A;
    color: rgb(255, 255, 255);
}
